@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
    background-color: lightblue;
}


div.leftmenuinner {
    position: fixed;
    top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 15%;
    background-image: url(MANUbar-seaView.png);
    background-size: cover;
    border-style: groove;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h3.coleur{
    color: rgb(0, 0, 0);
}

div.MANUoption{

    width: 50%;
    margin-left: 15%;
}

div.main
{
background-color: transparent;

}

div.manu-option{
    position: absolute;
    top: 0;
    right: 0;
}

div.content {
    margin-left: 15%; 
}

div.content-plus{
    margin-left: 16%;
}

img {
    vertical-align: top; 
    width: 100%;
    border-style: groove;
}


