
/*body {
    background-image: url('images/Grassland.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center bottom;
}*/

body {
    background-color: lightblue;
}


div.leftmenuinner {
    position: fixed;
    top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 20%;
    background-color: transparent;
    border: 5px lightblue;
}

div.manu-option{
    position: absolute;
    top: 0;
    right: 0;
}

div.content {
    margin-left: 260px; 
}

div.content-plus{
    margin-left: 280px;
}

img {
    vertical-align: top; 
    width: 100%;
}


