
/*body {
    background-image: url('images/Grassland.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center bottom;
}*/

body {
    background-color: lightblue;
}


div.leftmenuinner {
    position: fixed;
    top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 15%;
    background-image: url(manuBAR.png);
    background-size: cover;
}

div.MANUoption{

    width: 50%;
    background-color: lightblue;
}
div.main{
background-color: transparent;

}

div.manu-option{
    position: absolute;
    top: 0;
    right: 0;
}

div.content {
    margin-left: 15%; 
}

div.content-plus{
    margin-left: 16%;
}

img {
    vertical-align: top; 
    width: 100%;
}


